<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500297518119-8j18jmveq3blbfni7snjirk7g74vh3pm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500297518119-8j18jmveq3blbfni7snjirk7g74vh3pm</string>
	<key>API_KEY</key>
	<string>AIzaSyAcLUFkP9V_IfPW0SmZv1UVMi5PcHm54_U</string>
	<key>GCM_SENDER_ID</key>
	<string>500297518119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.polugar.bar</string>
	<key>PROJECT_ID</key>
	<string>polugar-bar</string>
	<key>STORAGE_BUCKET</key>
	<string>polugar-bar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500297518119:ios:7e5347c38df24ca7d6d202</string>
	<key>DATABASE_URL</key>
	<string>https://polugar-bar.firebaseio.com</string>
</dict>
</plist>